  <div id="menu">
	<ul>
	<li>
			<a data-method="delete" href="http://192.168.1.6/signout" rel="nofollow">Déconnexion</a>
	</li>
	<li class="sep">|</li>
	<li>
			Bienvenue, lol
	</li>
	</ul>
</div>
<div id="title">
	<img alt="Bienvenue" src="./new-test_files/soupes.png">
</div>
<div id="window">
	<table>
		<tbody>
			<tr>
				<td>IMAGE</td>
				<td>
					<table>
						<tbody>
							<tr>
								<td>TITRE</td>
							</tr>
							<tr>
								<td>Description</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="new-recipe">
<a href="">Nouvelle recette</a>
</div>