<div id="menu">
	<ul>
		<li>
			<a href="">Conexion</a>
		</li>
		<li>|</li>
		<li>
			<a href="">Inscription</a>
		</li>
	</ul>
</div>
<div id="title">
	<img alt="bienvenue" src="file:///C:/Users/Abdellah/Desktop/projet_web/app/assets/images/welcome.png">
</div>
<div id="window">
	<table>
		<tbody>
			<tr>
				<td>
					<a href="">
						<img alt="soupes" src="file:///C:/Users/Abdellah/Desktop/projet_web/app/assets/images/soupe_icon.png">
					</a>
					<p>Soupes</p>
				</td>
				<td>
					<a href="">
						<img alt="plats" src="file:///C:/Users/Abdellah/Desktop/projet_web/app/assets/images/plate_icon.png">
					</a>
					<p>Plats</p>
				</td>
			</tr>
			<tr>
				<td>
					<a href="">
						<img alt="salades" src="file:///C:/Users/Abdellah/Desktop/projet_web/app/assets/images/salad_icon.png">
					</a>
					<p>Salades</p>
				</td>
				<td>
					<a href="">
						<img alt="desserts" src="file:///C:/Users/Abdellah/Desktop/projet_web/app/assets/images/dessert_icon.png">
					</a>
					<p>Desserts</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>



